{{template "pageStart.html" .}}
<style type="text/css"> 
  .btn-style{ 
    height: 28px;  
    margin: 4px;
  } 
  .app-input{ 
    height: 28px;   
  }
  .app-textarea{
    font-family:Monaco;
    font-size: 10px;
    font-weight:bold;
    color:#003399;
    white-space:pre-wrap"
  } 
</style>
<div class="container"> 
  <div>
      <h3>Source Code Searcher</h3> 
  </div>
  <form class="form-horizontal" method="post">
    <section>
    <div class="row">  
      <div class="col-md-6">
            <label for="phrase">Phrase</label>
            <div>
              <input type="text" id="phrase" name="phrase" class="form-control app-input" value={{ .Header.Phrase}}>
            </div>  
      </div>
       
      <div class="col-md-6"> 
            <label for="index">Index</label> 
            <div>
              <select name="index" id="index" class="browser-default custom-select app-input" >
                <option {{if .Header.IsGolang }} selected {{end}} value="golang">Golang</option>
                <option {{if .Header.IsGoPackage }} selected {{end}} value="gopackage">Go Package</option>  
                <option {{if .Header.IsRust }} selected {{end}} value="rust">Rust</option> 
                <option {{if .Header.IsJavascript }} selected {{end}} value="javascript">Javascript</option>
                <option {{if .Header.IsSolidity }} selected {{end}} value="solidity">Solidity</option>
                <option {{if .Header.IsKubernetes }} selected {{end}} value="kubernetes">Kubernetes</option>  
                <option {{if .Header.IsPdf }} selected {{end}} value="pdf">PDF</option> 
                <option {{if .Header.IsWeb }} selected {{end}} value="web">Web</option>
                <option {{if .Header.IsNote }} selected {{end}} value="note">Notes</option> 
              </select>
            </div>    
      </div> 
    </div>
  
    <div class="row">    
      <div class="col-md-12">     
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="default">Search - sorted by score</button>
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="default-sorted">Search - sorted by source</button>
     
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="prefix">Search By prefix</button>
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="prefix-sorted">Search By prefix - sorted</button>
    
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="fuzzy">Fuzzy Search</button>
        <button type="submit" class="btn btn-primary btn-sm btn-style" id="search" name="btn-search" value="fuzzy-sorted">Fuzzy Search - sorted</button>
      </div>     
    </div>  
  </section>
  <section>   
      {{range .SearchContents}}
      <div  class="row col-md-12">  
            <div><b>{{.ItemNum}}.</b><b>Index:</b> {{.Index}} <b>Phrase:</b> {{.Phrase}} <b>Search Method:</b> {{.SearchMethod}}</div>
            <div><b>SOURCE:</b> 
              {{if .IsWeb}}
                <a href={{.Source}}>{{.Source}}</a>  
              {{else}} 
                {{if .IsPdf}}
                
                  {{.Source}} <button  id="pdfFile" name="pdfFile" type="submit" value={{.Source}}>open with PDF viewer</button>
                
                {{else}} 
                  {{.Source}} 
                {{end}}  
              {{end}}</div>  
          
          <textarea id={{.ItemNum}} cols="180" rows="24" class="app-textarea" disabled>{{.Content}}</textarea>  
         
      </div> 
    {{end}}
  </section>
  </form> 
</div>
{{template "pageEnd.html" .}}
